.superadmin{
    width: 100%;
    .navbar{
        width: 100%;
        height: 60px;
        background-color: #0080A9;
        display: flex;
        align-items: center;
        justify-content: center;

        h1{
            color: #fff;
            font-size: 40px;
            
        }

        span{
            position: absolute;
            right: 50px;
            top: 20px;
            font-size: 18px;
            cursor: pointer;
            color: #fff;
            transition: all 0.3s ease;
            &:hover{
                color:  rgb(253, 206, 51);
            }
        }

    }
}

.containeri h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: #0080A9;

}

.list{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.list-items{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    span{
    width: 20%;

    }
}

.list-items span{
   
    background-color: transparent;
    color: #000;

}

.list-items span:first-child{
    width: 5%;
}

// .id{
//     width: 150px;
// }
.list-items span:nth-child(2){
    width: 30%;
}



.default-names {
    font-weight: bold;
    background-color: #0080A9;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    span{
        width: 20%;
    }
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }


  .form button{
      color: #fff;
      background-color: #0080A9;
      width: 60px;
      height: 20px;
      border-radius: 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      border: none;
      transition: all 0.3s ease;
  }



  .page-numbers{
      display: flex;
      width: 400px;
      height: 40px;
      margin-right: auto;
      margin-left: auto;
      justify-content:space-around;
      align-items: flex-start;
      margin-top: 20px;
      padding-bottom: 50px;      
  }

  .page-numbers li {
      color: blue;
  }

  .page-numbers li:hover{
      cursor: pointer;
  }

  /* .active{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      background-color:#FF850F ;
      border-radius: 50%;
  } */

  .btndelete{
      width: 60px;
      height: 20px;
      transform: translate(196px);
      background-color: red;
      border: none;
      outline: none;
      border-radius: 5px;
      color: #fff;
      transition: all 0.4s ease;
  }

  .btndelete:hover{
      border: 1px solid red;
      background-color: #fff;
      color: red;
  }

  .forbtn{
      display: flex;
      justify-content: space-between;
  }

